.landing {
    display: flex;
    width: 80rem;
    margin: auto;
    padding: 5rem;
}
.landing h2 {
    padding: 3rem;
    font-size: 4rem;
}
.landing form {
    border: 1px solid black;
    padding: 2rem;
    justify-self: flex-end;
}
.landing form input {
    width: 90%;
    padding: 1rem;
    margin: auto;
    margin-bottom: 1rem;
}