.header {
    background-color: rgb(0, 153, 255);
}
.header .heading {
    color: white;
    font-weight: 900;
    font-size: 2rem;
}
.header .top {
    display: flex;
    padding: 1rem 3rem;
    align-items: flex-end;
}
.logo img {
   width: 5rem;
}


@media only screen and (max-width: 490px) {
    .slider, .slider .slide {
        height: 75vh;
        width: 100vw;
    }

    .slider h1 {
        padding: 0;
        border: none;
        box-shadow: none;
    }
   
}
@media only screen and (max-width: 345px) {
    .slider, .slider .slide {
        height: 65vh;
    }
    .logo {
        width: 4rem;
    }
    .slider h1 {
        padding: 0;
        border: none;
        box-shadow: none;
        font-size: 1.6rem;
    }
}
